.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{

    display:flex;
    align-items: center;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.horario{

    display: flex;
    margin: 2%;
    width: 98%;
    align-items: center;
    justify-content: center;
    


}






