body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.cabecalhoPrincipal {
	background-color:#000080;
	padding: 20px 0;
}

.cabecalhoPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}



.conteudoPrincipal {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Shadows Into Light', cursive; 
	padding-bottom: 10px;  

}

.navbar{
	background-color: navy;

}

.banner{
	object-fit: cover;
}

.fonte-titulo{
	font-family: 'Caveat', cursive;
	color: white;
}

.imagem-carrossel-1{
	object-fit: cover;
	object-position: 0 10%;
	height: 400px;
	
}

.imagem-carrossel-2{
	object-fit: cover;
	object-position: 0 50%;
	height: 400px;
}

.imagem-carrossel-3{
	object-fit: cover;
	object-position: 0 2.5%;
	height: 400px;
}

.imagem-carrossel-4{
	object-fit: cover;
	object-position: 0 2.5%;
	height: 400px;
}
.form-group{
	/*margin-left: 4rem!important;*/
}
.textoPrincipal{
color: black;
line-height: 1.5;
font-family: 'Ubuntu', sans-serif;
font-size: 18px;
padding-bottom: 20px;

}
.horario{
	font-family: 'Ubuntu';
	font-size: 20px;
}

.subtitulo {
	font-weight: bold;
	font-size: 50px;
	font-family: 'Caveat', cursive;
	margin-bottom: 10px;
}

.atletas{
	background-color:#324C64;
}

.instagram {
	padding-left: 45%;
}


.apoio{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Caveat', cursive;
color: black;
}

.banner{
	width: 100%;

}

.card-principal{
	line-height: 1.5;
	padding-bottom: 5px;
}

.card-titulo{
	font-size: 20px;
	font-weight: bolder;
}

.conteudoPrincipal-cursos-link {
	height: 100px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
}



.rodapePrincipal {
	background-color: #324C64;
	padding-top: 20px;
}

.rodapePrincipal .subtitulo {
	color: #FFF;
}

.navmap-list-title {
	font-weight: 700;
	font-size: 1.3em;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
}

.rodapePrincipal-patrocinadores {
	margin-top: 30px;
	background: #F2F5F7;
	padding: 20px 0;
}

.mapaTexto{
	font-family: 'Ubuntu', cursive;
	font-size: 20px;


}





